<html>
  <head>
    <title>COVID-19 reports</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
      .main {
        text-align: center;
      }
      .btn {
        margin-right: 16px;
      }
    </style>
    
  </head>
  <body>
    
    <img src="covid.png" class="img-fluid" />
    
    <div id="main" class="main">
    <button type="button" class="btn btn-primary" onclick="window.location.href='/it'">Italy</button>
    <button type="button" class="btn btn-success" onclick="window.location.href='/full'">World</button>
    </div>
  </body>
</html>
